<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Person ID Desc</title>
</head>
<body>
<h2 th:if="${person == null}">Person not found!!!!</h2>

<div th:if="${person != null}">
    <h2>Chi tiết person</h2>
    <p>ID: <span th:text="${person.id}"></span></p>
    <p>Full Name: <span th:text="${person.fullName}"></span></p>
    <p>Job: <span th:text="${person.job}"></span></p>
    <p>Gender: <span th:text="${person.gender}"></span></p>
    <p>City: <span th:text="${person.city}"></span></p>
    <p>Salary: <span th:text="${person.salary}"></span></p>
    <p>Birthday: <span th:text="${person.birthday}"></span></p>

    <h2>People by ID Descending</h2>
    <ul th:if="${personIdDesc}">
        <li th:each="personDesc : ${personIdDesc}">
            <a th:href="@{'/person/' + ${personDesc.id}}" th:text="${personDesc.fullName}"></a>
        </li>
    </ul>
    <p th:unless="${personIdDesc}">No people found.</p>
</div>
</body>
</html>