<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<h2 th:if="${person == null}" >Person not found!!!!</h2>

<div th:if="${person != null}">
    <h2>Chi tiết person</h2>
    <span th:text="${person.id}"></span>
    <span th:text="${person.fullName}"></span>
    <span th:text="${person.job}"></span>
    <span th:text="${person.gender}"></span>
    <span th:text="${person.city}"></span>
    <span th:text="${person.salary}"></span>
    <span th:text="${person.birthday}"></span>
</div>
</body>
</html>